.app-sidebar-minified {
	& .app-sidebar:not(.app-sidebar-end) {
		width: $app-sidebar-minified-width;
		
		& .menu {
			padding: 0;
			
			& > .menu-item {
				& > .menu-link {
					padding: rem(10px) rem(20px);
					
					border-radius: 0;
					
					& .menu-text,
					& .menu-label,
					& .menu-badge {
						display: none;
					}
					& .menu-icon {
						margin: 0;
					}
					& .menu-icon-img {
						margin: 0;
					}
				}
				&.has-sub > .menu-submenu {
					display: none !important;
				}
				&.active {
					& > .menu-link {
						background: none;
						color: var(--app-theme);
						
						& .menu-icon {
							color: inherit;
						}
						&:hover,
						&:focus {
							background: var(--app-component-bg);
						}
					}
				}
			}
		}
		& .menu-profile,
		& .menu-header,
		& .menu-search {
			display: none !important;
		}
		& .menu-caret {
			@if $enable-rtl {
				margin-left: rem(-15px);
			} @else {
				margin-right: rem(-15px);
			}
			
			&:before {
				transform: rotate(0deg) !important;
			}
		}
		& .slimScrollDiv {
			& .slimScrollBar,
			& .slimScrollRail {
				display: none !important;
			}
		}
	}
	& .app-sidebar-bg:not(.app-sidebar-end) {
		width: $app-sidebar-minified-width;
	}
	& .app-sidebar-minify-btn {
		& i {
			&:before {
				content: '\f101';
			}
		}
	}
	& .app-content {
		@include media-breakpoint-up(md) {
			@if $enable-rtl {
				margin-right: $app-sidebar-minified-width;
			} @else {
				margin-left: $app-sidebar-minified-width;
			}
		}
	}
	
	&.app-with-end-sidebar {
		& .app-content {
			@include media-breakpoint-up(md) {
				@if $enable-rtl {
					margin-left: $app-sidebar-minified-width;
					margin-right: auto;
				} @else {
					margin-right: $app-sidebar-minified-width;
					margin-left: auto;
				}
			}
		}
	}
}