.app-sidebar {
	width: $app-sidebar-width;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	padding-top: $app-header-height;
	background: $gray-900;
	z-index: $app-sidebar-zindex;
	
	@if $enable-rtl {
		left: auto;
		right: 0;
	}
	@include media-breakpoint-down(md) {
		position: fixed;
		padding-top: 0;
		left: $app-sidebar-width * -1;
		z-index: $app-header-zindex + 1;
		
		@if $enable-rtl {
			left: auto;
			right: $app-sidebar-width * -1;
		}
	}
	
	& .menu {
		& .menu-profile {
			padding: $app-sidebar-component-padding-x;
			color: $white;
			background: $app-sidebar-profile-bg;
			overflow: hidden;
			position: relative;
		
			& .menu-profile-link {
				margin: -$app-sidebar-component-padding-x;
				padding: $app-sidebar-component-padding-x;
				display: block;
				color: $white;
				font-weight: $font-weight-bold;
				text-decoration: none;
				
				&:hover {
					& .menu-profile-cover {
						&.with-shadow {
							&:before {
								opacity: 0.75;
							}
						}
					}
				}
			}
			& .menu-profile-image {
				width: rem(34px);
				height: rem(34px);
				margin-bottom: rem(10px);
				overflow: hidden;
				position: relative;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				display: flex;
				align-items: center;
				border-radius: $border-radius-lg * 5;
				
				& img {
					max-width: 100%;
					max-height: 100%;
				}
				&.menu-profile-image-icon {
					& i {
						float: none;
						display: block;
						font-size: rem(24px);
						text-align: center;
						width: auto;
						margin: 0 auto rem(-12px);
					}
				}
			}
			& .menu-profile-cover {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-image: $app-sidebar-profile-bg-image;
				background-repeat: no-repeat;
				background-size: cover;
			
				&.with-shadow {
					&:before {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						background: rgba($dark-darker, .75);
						transition: all .2s linear;
					}
				}
			}
			& .menu-profile-info {
				font-size: $font-size-lg;
				position: relative;
			
				& small {
					display: block;
					font-weight: $font-weight-base;
					color: rgba($white, .75);
					font-size: $font-size-base;
					margin-bottom: rem(-5px);
				}
			}
		}
		& .menu-header {
			margin: 0;
			padding: rem(15px) rem(20px) rem(3px);
			line-height: rem(20px);
			font-size: rem(11px);
			color: rgba($white, .45);
			font-weight: $font-weight-bold;
		}
		& .menu-divider {
			height: 1px;
			background: $gray-800;
			margin: $app-sidebar-component-padding-y 0;
		}
		& .menu-caret {
			display: block;
			width: rem(20px);
			text-align: center;
			font-size: $font-size-sm;
			border: none;
		
			@include fontawesome();
			@if $enable-rtl {
				margin-right: auto;
			} @else {
				margin-left: auto;
			}
		
			&:before {
				content: '\f054';
				display: block;
				text-align: center;
				opacity: 0.5;
				transition: all .2s linear;
				
				@if $enable-rtl {
					content: '\f053';
				}
			}
		}
		& .menu-search {
			padding: $app-sidebar-component-padding-x;
			
			& + .menu-item {
				padding-top: 0;
			}
			& .form-control {
				background: none;
				border: none;
				padding-left: 0;
				padding-right: 0;
				border-bottom: 1px solid rgba($white, .2);
				color: $white;
				border-radius: 0;
				
				&:focus {
					border-color: rgba($white, .5);
					box-shadow: none;
				}
			}
		}
		
		& .expanding,
		& .expand {
			& > a {
				background: $gray-800;
				color: $white;
				
				& .menu-caret {
					&:before {
						opacity: 1.0;
						transform: rotate(90deg);
						
						@if $enable-rtl {
							transform: rotate(-90deg);
						}
					}
				}
			}
		}
		& .menu-item {
			position: relative;
					
			& .menu-link {
				padding: $app-sidebar-component-padding-y $app-sidebar-component-padding-x;
				line-height: rem(20px);
				color: rgba($white, .6);
				text-decoration: none;
				display: flex;
				align-items: center;
				
				& .menu-text {
					flex: 1;
				}
				& .menu-badge {
					padding: 0 $badge-padding-x * 1.5;
					background: darken($gray-900, 10%);
					font-weight: $font-weight-bolder;
					font-size: rem(10px);
					border-radius: $border-radius-lg * 2;
				}
				& .menu-label {
					padding: $badge-padding-y $badge-padding-x;
					font-size: 75%;
					font-weight: $font-weight-bold;
					color: var(--app-theme-color);
					text-align: center;
					white-space: nowrap;
					vertical-align: baseline;
					margin-left: rem(5px);
					background-color: var(--app-theme);
					border-radius: $border-radius;
					
					@include gradient-enabled {
						background-color: var(--app-theme);
						background-image: var(--bs-gradient);
					}
					@if $enable-rtl {
						margin-left: 0;
						margin-right: rem(5px);	
					}
				}
				&:hover,
				&:focus {
					background: $gray-800;
					color: $white;
				}
			}
			& .menu-icon {
				width: rem(26px);
				height: rem(26px);
				text-align: center;
				line-height: rem(26px);
				font-size: $font-size-lg;
				margin-top: rem(-3px);
				margin-bottom: rem(-3px);
				color: $white;
				display: flex;
				align-items: center;
				justify-content: center;
				
				@if $enable-rtl {
					margin-left: rem(10px);
				} @else {
					margin-right: rem(10px);
				}
				& img {
					max-width: 100%;
					max-height: 100%;
				}
				& i,
				& ion-icon {
					width: 100%;
					height: 100%;
					background-color: $gray-700;
					border-radius: $border-radius-lg;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				& [class^="ion-"],
				& ion-icon {
					font-size: rem(20px);
					padding: 0 rem(3px);
				}
			}
			& .menu-icon-img {
				margin-top: rem(-3px);
				margin-bottom: rem(-3px);
				width: rem(26px);
				height: rem(26px);
				overflow: hidden;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: $border-radius-lg;
				display: flex;
				align-items: center;
				
				@if $enable-rtl {
					margin-left: rem(10px);
				} @else {
					margin-right: rem(10px);
				}
				
				& img {
					max-width: 100%;
					max-height: 100%;
					display: block;
					margin: 0 auto;
				}
			}
			& .menu-submenu {
				padding: rem(5px) 0 rem(10px) rem(41px);
				margin: 0;
				position: relative;
				display: none;
	
				@if $enable-rtl {
					padding-left: 0;
					padding-right: rem(41px);
				}
				
				& .menu-item {
					& .menu-link {
						background: none;
						padding: rem(3px) rem(20px) rem(3px) rem(15px);
						color: rgba($white, .45);
						text-decoration: none;
						position: relative;
						line-height: rem(18px);
						
						@if $enable-rtl {
							padding-right: rem(15px);
							padding-left: rem(20px);
						}
						
						&:hover,
						&:focus {
							color: $white;
							background: none;
						}
					}
					&.active {
						& > .menu-link {
							background: none;
							color: $white;
						}
						&:after {
							border-color: var(--app-theme);
						}
					}
					
					& .menu-submenu {
						padding: 0 0 0 rem(15px);
						background: none;
		
						@if $enable-rtl {
							padding-left: 0;
							padding-right: rem(15px);
						}
					}
				}
			}
			
			&.active {
				&.has-sub {
					& > .menu-submenu {
						display: block;
					}
				}
				& > .menu-link {
					position: relative;
					z-index: 10;
					color: var(--app-theme-color);
					background-color: var(--app-theme);
					
					@include gradient-enabled {
						background-image: var(--bs-gradient);
					}
					
					& .menu-caret {
						@include gradient-enabled {
							color: rgba($black, .5);
						}
					}
					& .menu-icon {
						& i,
						& ion-icon {
							color: var(--app-theme-color);
							background: none !important;
						}
					}
					& .menu-badge {
						background: rgba($black, .35);
					}
					& .menu-label {
						color: $white;
						background: rgba($black, .35);
					}
				}
			}
		}
	}
	
	& .app-sidebar-content {
		position: relative;
	}
	& .app-sidebar-minify-btn {
		margin: rem(10px) 0;
		padding: rem(5px) rem(20px) rem(5px) rem(10px) !important;
		background: darken($dark, 4%);
		color: $white;
		text-decoration: none;
		
		@if $enable-rtl {
			border-radius: 0 $border-radius * 5 $border-radius * 5 0;
		} @else {
			border-radius: $border-radius * 5 0 0 $border-radius * 5
		}
		
		& i {
			margin: 0 !important;
			color: $white;
		}
		&:hover,
		&:focus {
			background: $gray-700;
		}
		& .menu-text {
			display: inline-block;
		}
	}
	&.app-sidebar-grid {
		& .menu {
			& > .menu-item {
				& + .menu-item {
					margin-top: -1px;
				}
				& > .menu-link {
					border-top: 1px solid lighten($dark, 7.5%);
					border-bottom: 1px solid lighten($dark, 7.5%);
				}
				
				&.expanding,
				&.expand {
					& > a {
						border-bottom-color: transparent;
					}
				}
				&.active {
					& > .menu-link {
						border-color: $gray-800;
					}
				}
			}
		}
	}
	&.app-sidebar-transparent {
		background: none;
		
		& + .app-sidebar-bg {
			background-image: var(--app-sidebar-transparent-bg-image);
			background-size: cover;
			
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: rgba($dark, .75);
			}
		}
		& .menu {
			& .menu-profile {
				background: rgba($black, .25);
				
				& .menu-profile-cover {
					background: none;
					
					&:before {
						background: rgba($gray-900, .25);
					}
				}
				& a {
					&:hover,
					&:focus {
						background: none;
					}
				}
				& .cover {
					background: none;
					
					&.with-shadow {
						&:before {
							background: none;
						}
					}
				}
				&.active {
					background: rgba($black, .25);
				}
			}
			& .menu-divider {
				background: rgba($white, .1);
			}
			& .menu-item:not(.active) {
				& > .menu-link {
					&:hover,
					&:focus {
						background: rgba($white, .1);
					}
				}
			}
		}
		& .menu-submenu {
			background: none;
			
			& > .menu-item {
				& > .menu-link {
					&:hover,
					&:focus {
						background: none !important;
					}
				}
			}
		}
	}
}
.app-sidebar-bg {
	background: $gray-900;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $app-sidebar-width;
	z-index: $app-sidebar-zindex - 10;
	
	@if $enable-rtl {
		left: auto;
		right: 0;
	}
	@include media-breakpoint-down(md) {
		padding-top: 0;
		left: -$app-sidebar-width;
		z-index: $app-header-zindex;
		
		@if $enable-rtl {
			left: auto;
			right: -$app-sidebar-width;
		}
	}
}
.app-sidebar-mobile-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $app-sidebar-mobile-backdrop-zindex;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
	outline: none;
	display: none;
}